<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script src="../libs/vue.js"></script>

  <style>
    .demo {
      width: 100px;
      height: 50px;
      margin: 5px;
      background: gray;
      cursor: pointer;
    }
    .big {
      width: 200px !important;
    }
    .red { background-color: red; }
    .green { background-color: green; }
    .blue { background-color: blue; }
    .teal { background-color: teal; }
  </style>
</head>
<body>

  <div id="app">
    <div class="demo" @click="attachedRed = !attachedRed"
      :class="{red: attachedRed}"></div>
    <div class="demo" @click="attachedGreen = !attachedGreen"
      :class="{green: attachedGreen}"></div>
    <div class="demo" @click="attachedBlue = !attachedBlue"
      :class="{blue: attachedBlue}"></div>
      <hr>
    <div class="demo" @click="attachedRed = !attachedRed"
      :class="divClasses"></div>
    <hr>
    <div class="demo" :class="color"></div>
    <input type="text" v-model="color">
    <hr>
    <div class="demo" :class="[{red: attachedRed}, color]"></div>
    <hr>
    <div class="demo" :style="{'background-color': color}"></div>
    <hr>
    <div class="demo" :style="myStyle"></div>
    <input type="text" v-model="width">
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        attachedRed: false,
        attachedGreen: false,
        attachedBlue: false,
        color: "green",
        width: 200
      },
      computed: {
        divClasses: function() {
          // handle multiple instructions
          return {
            red: this.attachedRed,   // apply class .red if attachedRed is true
            blue: !this.attachedRed  // apply class .blue if attachedRed is false
          }
        },
        myStyle: function() {
          return {
            backgroundColor: this.color,
            width: this.width + "px"
          }
        }
      }
    });
  </script>

</body>
</html>
